body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}
button:not(:disabled) {
  cursor: pointer;
}
.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;
    opacity: 1;
    transition: 1s;
}

.modal-cont {
  padding: 20px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalbtn {
  border: 1px solid;
  margin-top: 10px;
  padding: 5px 10px;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-left: 20px;
}
.choosefields {
  display: flex;
  flex-direction: column;
}
.player {
  font-size: 18px;
}

.gamecontainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 100px;  
}

.playbutton {
  padding: 5px 10px;
  font-size: 20px;
  border: 0.5px solid;
  margin-bottom: 10px;
}

.playfield {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.p-f81 {
  max-width: 608px;
}
.p-f64 {
  max-width: 540.8px;
}
.p-f49 {
  max-width: 475.2px;
}
.p-f36 {
  max-width: 410.6px;
}
.p-f25 {
  max-width: 340px;
}
.p-f16 {
  max-width: 270.4px;
}
.p-f9 {
  max-width: 210.8px;
}

.cell {
  padding: 32.50px;
  border: 1px solid;
  position: relative;
}

.win {
  background-color: red;
}

.markX {
  position: absolute;
  font-size: 70px;
  top: -7%;
  left: 13%;
}
.markO {
  position: absolute;
  font-size: 70px;
  top: -7%;
  left: 9%;
}